#primary{
    padding-block: 20px;
    justify-content:space-between
}
#secondary{
    border: 1px solid var(--stroke-color);
    border-inline: none;
    padding-block: 14px;
    justify-content: space-between;
}