/*utility*/
.grid{
    display: grid;
}
.grid-col{
    grid-auto-flow: column;
}
.grid-col2{
    grid-template-columns: 1fr 1fr;
}
.container{
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}
img{
    max-width: 100%;
}
.gap-16{
    gap: 16px;
}